<%= stylesheet_link_tag 'sessions', :media => "all" %>
<div class="form-wrapper">
<h1>LOG IN</h1> 

  <div class="form-item">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p1>EMAIL </p1><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
          <div class="field">
          <p1>PASSWORD </p1><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
  </div>
  <br>
  <% if devise_mapping.rememberable? -%>
    <div class="remember">
      <%= f.check_box :remember_me %>
      <p1>REMEMBER ME</p1>
    </div>
  <% end -%>
  <br>
    <p class="formbottom">
      <div class="actions">
        <input type="submit" value="LOG IN" class="btns submit">
      </div>
      <% end %>
    </p>

  
<div class="form-footer">
    <p><%= link_to "SIGN UP", new_user_registration_path %></p>
  </div>
</div>