<%= stylesheet_link_tag 'shindan', :media => "all" %>

<%= form_for(@pickup, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
    <div class="row">
        <div class="flexbox">
            <div class="title">
                <p>あなたにおすすめのベースを診断(全３問)</p>
            </div>
            
            <div class="col-12">
                <p>Q1. 帰り道に聴きたい音楽は？</p>
            </div>
            
            <div class="flex-item">
                <div class="col-6">
                    <p><%= f.check_box :question, {multiple: true, id: 'pickup_question_1'}, "1", nil %><label for="pickup_question_1" class="label">激しいロック</label></p>
                </div>
                <div class="col-6">
                    <p><%= f.check_box :question, {multiple: true, id: 'pickup_question_2'}, "2", nil %><label for="pickup_question_2" class="label">ゆったりとしたバラード</label></p>
                </div>
            </div>

            <div class="col-12">
                <p>Q2. どちらかと言うと？</p>
            </div>

            <div class="flex-item">
                <div class="col-6">
                    <p><%= f.check_box :question, {multiple: true, id: 'pickup_question_3'}, "1", nil %><label for="pickup_question_3" class="label">縁の下の力持ちだ</label></p>
                </div>
                <div class="col-6">
                    <p><%= f.check_box :question, {multiple: true, id: 'pickup_question_4'}, "2", nil %><label for="pickup_question_4" class="label">目立ちたいほうだ</label></p>
                </div>
            </div>

            <div class="col-12">
                <p>Q3. 好きなプレイスタイルは？</p>
            </div>

            <div class="flex-item">
                <div class="col-6">
                    <p><%= f.check_box :question, {multiple: true, id: 'pickup_question_5'}, "1", nil %><label for="pickup_question_5" class="label">テクニカルな演奏</label></p>
                </div>
                <div class="col-6">
                    <p><%= f.check_box :question, {multiple: true, id: 'pickup_question_6'}, "2", nil %><label for="pickup_question_6" class="label">バンドを支える正確無比な演奏</label></p>
                </div>
            </div>
        </div>
        
        <div class="shindanbutton">
        <form>
            <p class="formbottom">
                <input type="submit" value="結果" class="btns submit">
            </p>
        </form>
        </div>
    </div>
    </div>
<% end %>


