<%= stylesheet_link_tag 'kiso', :media => "all" %>

<h2>▶基礎練習</h2>

<div class="container">
  <p>
    こちらのページではベース初心者の方におすすめの基礎練習を紹介しています。
    <br>
    以下の練習を継続して、これから様々な曲に挑戦する上で役立つ土台の部分を作り上げましょう！
  </p>
  <br>
  <h3>ピッキングについて</h3>
  <br>
    練習に入る前に代表的なベースの弾き方２つについて紹介します！
    <br>
    <br>
    指弾き（ツーフィンガー）:
    <br>
    <%= image_tag asset_path('指弾き.jpg', :alt => ''), class:'yubihiki' %>
    <br>
    指を使って弦を弾くテクニックです。ツーフィンガーの場合、基本的に人差し指と中指を使います。 
    <br>
    メリット:
    <br>
    ・柔らかく自然なサウンドが得られる。
    <br>
    ・繊細な表現が可能。
    <br>
    デメリット:
    <br>
    ・強弱の加減が難しいことがある。
    <br>
    ・ピックよりも音が小さくなることがある。
    <br>
    <br>
    ピック弾き:
    <br>
    <%= image_tag asset_path('ピック弾き.jpg', :alt => ''), class:'pickbiki' %>
    <br>
    ピックを使って弦を弾くテクニックです。人差し指の側面と親指の腹で挟む持ち方や人差し指＆中指と親指で挟む持ち方などがあります。
    <br>
    メリット:
    <br>
    ・弦を強く弾くことができ、パワフルなサウンドが得られる。
    <br>
    ・ピック特有のアタック感がある。
    <br>
    デメリット:
    <br>
    ・指弾きに比べて柔らかい表現が難しいことがある。
    <br>
    <br>
    どちらの奏法も独自の音色や表現があり、演奏者の好みや曲の雰囲気によって使い分けられます。
  <br>
  <br>
  <h3>ドレミを弾こう！</h3>
  <br>
    ドレミを弾いて、音を鳴らす感覚に慣れていきましょう！
    <br>
    <br>
    まずは、音の位置関係や譜面について紹介します。
    <br>
    <%= image_tag asset_path('ドレミ.JPG', :alt => ''), class:'doremi' %>
    <br>
    上記はベースを横向きにしたイメージで、数字はフレットの位置を示しています。
    <br>
    １番上から１フレット、２フレットという風に数えられます。
    <br>
    そして画像中の１番上が１弦(最も細い弦)、そこから順に２弦、３弦、４弦を表しています。
    <br>
    つまり、「ド」の音は３弦の３フレットを抑えることで鳴らせるということです！
    <br>
    <br>
    上記の音を譜面にしたものが、こちらの「タブ譜」と呼ばれるものです。
    <br>
    <%= image_tag asset_path('tab.png', :alt => ''), class:'tab' %>
    <br>
    こちらも１番上から１～４弦となっています。
    <br>
    数字はフレットの位置を示しており、先程の「ド」の音で確認すると３弦の３フレットと一致していると思います。
    <br>
    <br>

    <div class="sample_box3_1">
    <span class="sample_box_title">弾くときに意識してほしいポイント！</span>
    <p>
    １. 最初はゆっくりでいいので、１音１音丁寧に弾くようにしましょう。
    <br>
    ２.「１フレット１フィンガー」を意識しましょう。
    </p>
    </div>

    「１フレット１フィンガー」とは、
    <br>
    ・2フレット：人差し指
    <br>
    ・3フレット：中指
    <br>
    ・4フレット：薬指
    <br>
    ・5フレット：小指
    <br>
    という風に１つのフレットに対して１つの指を割り振るというフォームのことです。
    <br>
    このように弾くことで指の移動を減らして効率的に演奏することができます！
    <br>
    最初のうちはなかなか難しいかもしれません...
    <br>
    しかし、後々必ず役に立つので今のうちから意識するようにしましょう！
  <br>
  <br>

  <h3>指が動くようになる練習</h3>
    <br>
    最後にもう１つおすすめの基礎練習の動画を紹介します。
    <br>
    継続して上達していきましょう！
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UlTP7CqoDY4?si=3tKsf5AkqXZBOcSK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>

</div>

