<%= stylesheet_link_tag 'show', :media => "all" %>

<div class="toko">
 <div class="toko1">
  <div class="box_11">
    <div class="pick">
      <p><%= @pick.about %></p>
      <p><%= @pick.created_at %></p>
    </div>
  </div>
  <br>
  <div class="comment-wrapper">
    <div class="box_17">
    <div class="box_17_ttl">コメント一覧</div>
      <div class="box_17_txt">
        <% @comments.each do |c| %>
          <div>
            <%= c.content %>
            <br>
            <%= c.user.email unless c.user.blank? %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <% if user_signed_in? %>
      <%= form_with(model: [@pick, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="ichiran">
    <%= link_to "投稿一覧に戻る", picks_path %>
  </div>
 </div>
</div>