<!DOCTYPE html>
<html>
  <head>
    <title>Bass Boost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5aee043c2d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
     <h1>Bass Boost</h1>
    <div class="header-list">
    <li class="nav-list-item"><%= link_to "TOP", picks_top_path, class: "link" %></li>
    <li class="nav-list-item"><%= link_to "基礎練習", picks_kiso_path, class: "link" %></li>
    <li class="nav-list-item"><%= link_to "診断", pickups_path, class: "link" %></li>
    <li class="nav-list-item"><%= link_to "掲示板", picks_path, class: "link" %></li>
     <ul>
      <% if user_signed_in? %>
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li><%= link_to "新規登録", new_user_registration_path %></li>
       <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
     </ul>
    </div>
   </header>
   <main>
    <%= yield %>
   </main>
  </body>

</html>
